section{
    width: 100%;
    padding: 120px 0 0 240px;
}
#act{
    width: 96%;
    background: #fdfdfe;
    border: 1px solid #e6e6ea;
    padding: 20px;
}
#act>p{
    font-size: 14px;
    margin-bottom: 10px;
}
.blockpadding{
    display: inline-block;
    width: 3px;
    height: 15px;
    margin-left: 5px;
    background-color: rgb(70, 227, 0)
}
.blockpadding + span{
    font-size: 20px;
    font-weight: bolder;
}









